@import url(https://fonts.googleapis.com/css?family=Monoton|Montserrat:200i,300,400i,700,900);

$blue: #0b6dd9;
$white: #ffffff;
$black: #0c0c0c;
$dark: #252525;

$error: #d50000;
$success: #07bfa3;

$montserrat: 'Montserrat', sans-serif;
$monoton: 'Monoton', cursive;