@import '../../../../style/variables';

.SocialIcon {
    height: 26px;
    width: 26px;
    display: block;
    border: 1px solid $white;
    color: $white;
    text-align: center;
    border-radius: 2em;
    font-size: 14px;
    padding-top: 4px;
    background: $black;

    &.twitter, &.linkedin {
        padding-left: 1px;
        padding-top: 5px;      
    }
    &.github {
        padding-top: 5px;
    }


}
